In [ ]:
# Q1.What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
#A database is an organized collection of data, stored and accessed electronically
#1.SQL databases are relational, and NoSQL databases are non-relational.
#2.SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
#3.SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
#4.SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
#5.SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRRUNCATE are used with an example.

In [ ]:
#Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of the database structure.
#The CREATE TABLE command creates a new table in the database.

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

#The DROP TABLE command deletes a table in the database.

DROP TABLE Person;

#The ALTER TABLE command adds, deletes, or modifies columns in a table.The ALTER TABLE command also adds and deletes various constraints in a table.

ALTER TABLE Persons
ADD Email varchar(255);

#The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

TRUNCATE TABLE Persons

In [ ]:
#Q3. what is DML? Explain INSERT, UPDATE,and DELETE with an example.

In [ ]:
#Data Manipulation Language or DML is a subset of operations used to insert, delete, and update data in a database
#The SQL INSERT, UPDATE, and DELETE commands enable SQL users to manipulate and modify data:

#The INSERT statement introduces new rows into an existing table.
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);
#The DELETE statement removes a row or combination of rows from a table.
DELETE FROM table_name WHERE condition;
#The UPDATE statement enables users to update a row or group of rows in a table
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

In [ ]:
#DQL is a portion of a SQL statement that allows you to get and organise data from a database
#The SELECT statement is used to select data from a database.The data returned is stored in a result table, called the result-set.
SELECT * FROM table_name;

In [ ]:
#Q5.Explain Primary Key and Foreign Key.

In [ ]:
#A primary key uniquely identifies a row in a table, while a foreign key is used to link two tables together by referencing the primary key of the related table. The most important difference that you should note here is that a primary key cannot have a NULL value, whereas a foreign key can accept NULL values.

In [ ]:
#Q6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("OPERATION")


#class cursor. Allows Python code to execute SQL command in a database session. Cursors are created by the connection cursor() method.

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
#The order in which the clauses in queries are executed is as follows:

#1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

#2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

#3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

#4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

#5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

#6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

#7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.