In [ ]:
#Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
#MongoDB over SQL databases?

In [ ]:
#MongoDB is an open-source document-based database management tool that stores data in JSON-like formats. 
#A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.
#SQL databases are used to store structured data while NoSQL databases like MongoDB are used to save unstructured data. MongoDB is used to save unstructured data in JSON format. MongoDB does not support advanced analytics and joins like SQL databases support

In [ ]:
#Q2. State and Explain the features of MongoDB.

In [ ]:
#MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL).

In [ ]:
#Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [10]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://mohammadshamim:mohammadshamim@cluster0.tw98dbr.mongodb.net/?retryWrites=true&w=majority")

mydb = client["mydatabase"]
mycol = mydb["customers"]

In [ ]:
#Q4. Using the database and the collection created in question number 3, write a code to insert one record,
#and insert many records. Use the find() and find_one() methods to print the inserted record.

In [15]:
data1={"name":"sudh",
      "class":"data sceince masters",
      "timing":"flexi"
      
}
data2={"name":"Kumar",
      "class":"Analytics",
      "timing":"flexi"
      
}
data3={"name":"sudhKumar",
      "class":"Machine learning",
      "timing":"flexi"
      
}

data4=[
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]


mycol.insert_one(data1)
mycol.insert_one(data2)
mycol.insert_one(data3)
mycol.insert_many(data4)

print(mycol.find_one())

for i in mycol.find():
    print(i)

{'_id': ObjectId('64162908daf2a0c65ca358cb'), 'name': 'sudh', 'class': 'data sceince masters', 'timing': 'flexi'}
{'_id': ObjectId('64162908daf2a0c65ca358cb'), 'name': 'sudh', 'class': 'data sceince masters', 'timing': 'flexi'}
{'_id': ObjectId('64162908daf2a0c65ca358cc'), 'name': 'Kumar', 'class': 'Analytics', 'timing': 'flexi'}
{'_id': ObjectId('64162908daf2a0c65ca358cd'), 'name': 'sudhKumar', 'class': 'Machine learning', 'timing': 'flexi'}
{'_id': ObjectId('64162908daf2a0c65ca358ce'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64162908daf2a0c65ca358cf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64162908daf2a0c65ca358d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64162908daf2a0c65ca358d1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64162908daf2a0c65ca358d2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64162908daf2a0c65ca358d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64162908daf2a0c65ca358d4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64162908daf2a0c65ca358d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64162908daf2a0c65ca358d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64162908daf2a0c65ca358d7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64162908daf2a0c65ca358d8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64162908daf2a0c65ca358d9'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
#Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
#demonstrate this.

In [16]:
#Answer:
for x in mycol.find({"name":"Kumar"}):
    print(x)

{'_id': ObjectId('64162908daf2a0c65ca358cc'), 'name': 'Kumar', 'class': 'Analytics', 'timing': 'flexi'}

In [ ]:
#Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [17]:
#Answer
#To sort documents in MongoDB, you need to use sort() method. The method accepts a document containing a list of fields along with their sorting order. To specify sorting order 1 and -1 are used. 1 is used for ascending order while -1 is used for descending order.

mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('64162908daf2a0c65ca358ce'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64162908daf2a0c65ca358d6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64162908daf2a0c65ca358d2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64162908daf2a0c65ca358d8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64162908daf2a0c65ca358cf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64162908daf2a0c65ca358cc'), 'name': 'Kumar', 'class': 'Analytics', 'timing': 'flexi'}
{'_id': ObjectId('64162908daf2a0c65ca358d0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64162908daf2a0c65ca358d3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64162908daf2a0c65ca358d1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64162908daf2a0c65ca358d4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64162908daf2a0c65ca358d5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64162908daf2a0c65ca358d9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64162908daf2a0c65ca358d7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64162908daf2a0c65ca358cb'), 'name': 'sudh', 'class': 'data sceince masters', 'timing': 'flexi'}
{'_id': ObjectId('64162908daf2a0c65ca358cd'), 'name': 'sudhKumar', 'class': 'Machine learning', 'timing': 'flexi'}

In [ ]:
#Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
#Answer
#deleteOne() deletes the first document that matches the filter.
#Removes all documents that match the filter from a collection
#In MongoDB, db. collection. drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections.